header {
    border: 15px solid rgb(255, 255, 255);
    background: rgb(250, 180, 223);
}

body {
    background: white;
}

#sakura {
    width: 100%;
}

#banner {
    width: 30%;
    border-radius: 50%;
}

.principal {
    background: white;
}

h1 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 60px;
    color: rgb(0, 0, 0);
    width: 65%;
}

h2 {
    text-align: center;
    height: 100px;
    font-size: 45px;
    color: rgb(0, 0, 0);
}

#sobre {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#missao{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

strong {
    font-size: 25px;
    color: rgb(165, 34, 34);
}
#info {
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

h3 {
    text-align: center;
    height: 100px;
    font-size: 45px;
    color: rgb(0, 0, 0);
}

.itens {
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
}

.associação {
    background: rgb(250, 180, 223);
    padding: 20px;
    
}

#alunos {
    width: 100%;
    }
#atividades {
    width: 60%;
    }